*{ box-sizing:border-box;}
body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
}
.container{
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
}
.row{
    margin-left:-15px;
    margin-right:-15px;
    display:flex;
}
.d-flex{
    display:flex;
}
.justify-content-between{
    justify-content: space-between;
}
.list-style-none{
    margin:0;
    padding:0;
    list-style: none;
}
.align-items-center{
    align-items:center;
}
.text-center{
    text-align:center;
}
.red{
    color:#ff5656;
}
.bold{
    font-weight:700;
}
a{
    text-decoration:none;
    color:#2b2b2b;
}
.d-block{
    display:block;
}
.ellipise{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ############HEADER############# */
header{
    padding-top:10px;
}
.mainlogo>img{
   height:40px;
}
.loging{
    border:1px solid #ccc;
    font-size:13px;
    padding:2px 8px;
}
.top-nav>li:not(:first-child){
    margin-left:25px;
}
.top-nav>li a,
.top-nav>li a span.material-symbols-sharp{
    color:#999;
}
.top-nav>li a:hover,
.top-nav>li a span.material-symbols-sharp:hover{
    color:#2b2b2b;
}
.top-nav>li:last-child{
    position:relative;
}
.top-nav>li:hover .list-view{
    display:block;
}
.list-view{
    background:#fff;
    border:1px solid #ccc;
    position:absolute;
    z-index:3;
    right:0;
    top:45px;
    display:none;
}
.list-view::after{
    content:"";
    display:block;
    position:absolute;
    width:25px;
    height:25px;
    right:3px;
    top:-20px;
    z-index:4;
    background:url(../images/polig.png) no-repeat;
}
.icon-list{
    padding:15px 20px;
    font-size:13px;
    border-bottom:1px solid #dedede;
    margin-bottom:10px;
}
.top-nav>li .icon-list a{
    font-weight:600;
    color:#000;
}
.icon-list a:hover{
    text-decoration:underline;
}
.icon-list img{
    height:35px;
}
.icon-list li:not(:last-child){
   margin-right:40px;
}
.map-list{
    margin:0px 20px 10px;
}
.map-list>li{
    width:25%;
    border-right:1px solid #dedede;
    padding-left:10px;
}
.map-list>li:last-child{
    border:none;
}
.map-list>li>a{
    display:block;
    font-size:13px;
    color:#2b2b2b;
    margin-top:10px;
    margin-bottom:10px;
}
a.all{
    display:block;
    padding:15px;
    background:#efefef;
}
/* ############SECTION1########### */
.logo{
    font-family: 'Tourney', cursive;
    color:#ff5656;
    font-size:40px;
    text-shadow:0 0 10px #ff5656;
    width:15%;
}
.nav{
    width:60%;
}
.nav>li{
    margin-right:30px;
    font-size:18px;
    line-height:1;
}
.nav>li:first-child a,
.nav>li a:hover{
    color:#ff5656;
    font-weight:600;
}
.nav>li.last{
    padding-left:20px;
    border-left:1px solid #dedede;
}
.nav>li.last a{
    color:#ff5656;
}
#searchform{
    width:25%;
    text-align:right;
}
.selectbox{
    display:inline-block;
    position:relative;
    width:80px;
}
.search-select{
    font-size:14px;
    padding-right:2px;
}
.search-sbox{
    position:absolute;
    background:#fff;
    border:1px solid #999;
    padding:10px;
    font-size:13px;
    display:none;
}
.search-sbox a:first-child{
    color:#ff5656;
    font-weight:600;
}
.search-sbox>a{
    display:block;
}
.search-sbox>a:hover{
    background:#fbe0e0;
    text-decoration:underline;
}
#searchtext{
    padding:5px;
    margin-left:5px;
    font-size:14px;
    border-radius:5px;
    border:none;
}
.btn-none{
    border:none;
    font-size:16px;
    background:none;
}

/***************HERO **********************/
.hero{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../images/cafe_back.png) no-repeat right 280px;
    background-size:35%;
    position:relative;
    height:420px;
}
.hero h1{
    font-size:18px;
    font-weight:300;
}
.hero a span.list{
    font-size:46px;
    color:#666;
    font-weight:300;
    max-width:800px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hero li a span{
    display:inline-block;
    font-size:14px;
    max-width:80px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align:top;
}
.hero li:hover a span.list,
.hero li.active a span.list{
    font-weight:700;
    color:#333;
} 
.new{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    background-color:#fff;
}
.zindex{
    z-index:2;
    animation-duration: 500ms;
    animation-name: identifier;
    animation-timing-function:ease-in-out;
}

span.prev,span.next{
    position:absolute;
    top:250px;
}
span.prev{
    left:80px;
}
span.next{
    right:80px;
}
span.prev i,span.next i{
    font-size:5em;
    cursor:pointer;
    color:#666;
}
/************BEST *****************/
.best{
    padding-top: 50px;
    padding-bottom:50px;
    background-color:#efefef;
    border-top:4px solid #000;
    border-bottom:1px solid #dedede;
}

@keyframes identifier {
    0%{
       top: 80px;
       opacity:0;
    }
    70%{
       top: -20px;
       opacity: 1;
    }   
    90%{
       top: 0;
    }
}

/******************************************************/
.best .col-4>a{
    display:block;
    background:#fff;
    border-radius:5px;
    padding:20px 30px;
    margin-top:15px;
    margin-bottom:15px;
    border:1px solid #efefef;
    box-shadow: 0 1px 4px rgb(0 0 0 /3%);
                            /* rgba(0,0,0,0.03) */
    transition: all 0.3s;                        
}
.best .col-4>a:hover{
    box-shadow: 0 2px 12px 0 rgb(0 0 0 /20%),
                0 1px 4px 0 rgba(0,0,0,.05);
}
div.img{
    width:80px;
    height:80px;
    background:url(../images/icon.png) no-repeat;
    border-radius:50%;
    border:1px solid #dedede;
    float:left;
    margin-right:20px;
}
.best h1{
    font-size:20px;
    margin:0;
    padding:0;
}
.best p{
    margin: 0;
    padding-top:5px;
    padding-bottom:5px;
}
.hash span{
    font-size:14px;
    margin-right:10px;
}
.hash span::before{
    content:"#";
}
.hash span:first-child{
    color:#ff5656;
}

/************ cafe-list *************/
.cafe-list{
    padding-top:50px;
}
.cafe-list h1{
    font-size:1.2em;
    font-weight:700;
}
.clist{
    list-style:none;
    margin:0;
    padding:0;
    margin-top:40px;
}
.clist>li{
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #dedede;
}
.tbox img, .tbox h1{
    margin-right:20px;
}
.tbox p{
    font-size:1.2em;
    font-weight:300;
}
.cfe p:first-child{
    width:100px;
    margin-right:15px;
}
p.dg{
    text-align:right;
    font-weight:700;
    color:#ff5656;
}
p.dg::before{
    content:"댓글";
    color:#333;
    font-weight:400;
    margin-right:8px;
}
.clist>li:hover{
    background-color:#efefef;
}
.notice-list{
    list-style-type:none;
    padding:0;
    font-size:14px;
    font-weight:300;
    margin-bottom:50px;
}
.notice-list li{
    margin-top:10px;
    margin-bottom:10px;
}
.notice-list li:first-child{
    font-size:1.2em;
    font-weight:400;
}