*{ box-sizing:border-box;}
body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
}
.container{
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
}
.row{
    margin-left:-15px;
    margin-right:-15px;
    display:flex;
}
.d-flex{
    display:flex;
}
.justify-content-between{
    justify-content: space-between;
}
.list-style-none{
    margin:0;
    padding:0;
    list-style: none;
}
.align-items-center{
    align-items:center;
}
.text-center{
    text-align:center;
}
.red{
    color:#ff5656;
}
.bold{
    font-weight:700;
}
a{
    text-decoration:none;
    color:#2b2b2b;
}

/* ############HEADER############# */
header{
    padding-top:10px;
}
.mainlogo>img{
   height:40px;
}
.loging{
    border:1px solid #ccc;
    font-size:13px;
    padding:2px 8px;
}
.top-nav>li:not(:first-child){
    margin-left:25px;
}
.top-nav>li a,
.top-nav>li a span.material-symbols-sharp{
    color:#999;
}
.top-nav>li a:hover,
.top-nav>li a span.material-symbols-sharp:hover{
    color:#2b2b2b;
}
.top-nav>li:last-child{
    position:relative;
}
.top-nav>li:hover .list-view{
    display:block;
}
.list-view{
    background:#fff;
    border:1px solid #ccc;
    position:absolute;
    z-index:3;
    right:0;
    top:45px;
    display:none;
}
.list-view::after{
    content:"";
    display:block;
    position:absolute;
    width:25px;
    height:25px;
    right:3px;
    top:-20px;
    z-index:4;
    background:url(../images/polig.png) no-repeat;
}
.icon-list{
    padding:15px 20px;
    font-size:13px;
    border-bottom:1px solid #dedede;
    margin-bottom:10px;
}
.top-nav>li .icon-list a{
    font-weight:600;
    color:#000;
}
.icon-list a:hover{
    text-decoration:underline;
}
.icon-list img{
    height:35px;
}
.icon-list li:not(:last-child){
   margin-right:40px;
}
.map-list{
    margin:0px 20px 10px;
}
.map-list>li{
    width:25%;
    border-right:1px solid #dedede;
    padding-left:10px;
}
.map-list>li:last-child{
    border:none;
}
.map-list>li>a{
    display:block;
    font-size:13px;
    color:#2b2b2b;
    margin-top:10px;
    margin-bottom:10px;
}
a.all{
    display:block;
    padding:15px;
    background:#efefef;
}
/* ############SECTION1########### */